*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    padding: 4px 100px;
    display: flex;
    justify-content: center;
}
.li {
    margin: 0 10px;
}
.header {
    height: 100px;
    width: 100%;
    background-color: brown;
    padding: 0 10%;
    color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.nav_main {
    
    padding: 4px;

}
.li_main {
    margin: 0 10px;
    font-size: 16px;
}
.logo {
    font-size: 36px;
}
.logo>p {
    font-size: 16px;
    text-align: center;
}
.login_btn {
    background-color: burlywood;
    border: none;
    padding: 10px 20px;
    border-radius: 80px;
}
.login_btn:focus {
    /* outline-style: none; */
    outline-width: 0px !important;
    outline-color: none !important;
}